title: "potat"
logo: "./assets/images/cosmos.png"
description: "Building an operating system from scratch"
baseurl: "/potatos.org"
url: "https://saeeedhany.github.io"
markdown: kramdown
permalink: /posts/:title/

collections:
  posts:
    output: true
    permalink: /posts/:title/
  notes:
    output: true
    permalink: /notes/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "notes"
    values:
      layout: "note"

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/
  - .bundle/
